html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

    
    
    
    
    
    /* start of website */

    *{
        box-sizing:border-box;/*respect the width I've given you, if I add padding or margin applyit within the given width not in addition to it*/
        padding:0;
        margin:0;
        max-width:100%; /*you can never be bigger than your parent*/
        border:1px solid grey;
    }
    
    /*General Styles*/
    html{
        font-size:62.5%;
    }
    body{
        font-size:1.8rem;
        line-height:1.5;
        color:#4F4F4F;
        background-color:#FBFFFB;
    }
    a{
        text-decoration:none;
        color:#915d22;
    }
    section{
        padding:4% 0;
    }
    h2, h3{
        text-align:center;
        color:#266035;
        margin-bottom:2%;
    }
    h2{
        font-size:4rem;
    }
    h3{
        font-size:2rem;
    }
    /*Header Section Styles*/
    nav{
        display:flex;
        justify-content: space-between;
        background-color:rgba(255,255,255,0.8);
        position:fixed;
        top:0;
        width:50%;
        z-index: 999;
    }
    .logo{
        width:1rem;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .logo img{
        width:1%;
    }
    .links{
        width:25%;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
    }
    
    /*Home Section Styles*/
    
    #home{
        background-image:url('https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246_960_720.jpg');
        height:20vh;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: bottom;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h1{
        font-size:6rem;
        color:#FBFFFB;
    }
    #home button{
        padding:3% 2%;
        size:1.8rem;
        margin-top:4%;
        border-radius:10px;
        color:#266035;
        border:2px solid #266035;
    }
    
    /*about section*/
    #about{
        display:flex;
        justify-content: flex-end;
        padding:20% 0;
        background-image:url('https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246_960_720.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #about div{
        width:20%;
        margin-right:5%;
    }
    
    /*Car Section Styles*/
    .container{
        display:flex;
    }
    .container div{
        width:25%;
    }
    .container .text{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:4% 0;
        text-align:center;
    }
    .container .text div{
        width:20%;
    }
    .bgimg{
        background-repeat: no-repeat;
        background-size:cover;
        background-position:bottom center;
        height:30vh;
    }
    .oil{
        background-image:url('https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246_960_720.jpg');
    }
    .tire{
        background-image:url('https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246_960_720.jpg');
    }
        .paint{
        background-image:url('https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246_960_720.jpg') ;  
    }
    
    /*footer section styles*/
    
    footer{
        display:flex;
        flex-wrap:wrap;
        color:#FBFFFB;
        background-color:#266035;
    }
    footer a{
        color:#FBFFFB;
    }
    footer h2{
        width:100%;
        color:#FBFFFB;
    }
    footer h3{
        color:#FBFFFB;
    }
    .left, .right{
        width:50%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .left div{
        width:30%;
        line-height: 2;
    }
    .right img{
        width:10%;
    }
    p.copyright{
        width:100%;
        text-align:right;
        margin-right:5%;
    }


  
 /*  Media Queries */

    /* min-width - is mobile first it's for scaling up *
    /* max-width-desktop first -its for scacling down */
  


/*Media Queries*/

@media(max-width:800px){
    #about{
        background-position: left top;
    }
    #about div{
        margin-top:5%;
        width:35%;
    }
    .container .text div{
        width:70%;
    }
    .img-wrapper{
        width:70%;
    }
    .container p{
        text-align:left;
    }
}



/*phone*/

@media(max-width:500px){
    nav{
        flex-direction:column;
        align-items:center;
    }
    .logo{
        width:20%;
    }
    .links{
        width:100%;
    }
    #about{
        justify-content:flex-start;
    }
    #about div{
        margin-left:10%;
        width:40%;
    }
    .container{
        flex-direction:column;
        align-items:center;
    }
    .mobile{
        flex-direction:column-reverse;
    }
    .container div{
        width:80%;
    }
    .bg{
        height:60vh;
    }
    .footer-parent{
        flex-direction:column-reverse;
        align-items: center;
    }
    .left, .right{
        width:80%;
        margin:2% 0;
    }
    .copyright{
        text-align:center;
        margin-right:0;
        margin-top:1%;
    }
}  